# DATABASE CONFIG
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=your_password
DATABASE_NAME=focus_arena
# DATABASE_URL=postgresql://user:password@host:port/dbname?sslmode=require

# AUTH CONFIG
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=1d

# APP CONFIG
PORT=3000
NODE_ENV=development
